@import url(./styles/header.css);
@import url(./styles/cabecalho.css);
@import url(./styles/metricas.css);
@import url(./styles/talentos.css);
@import url(./styles/vagas.css);
@import url(./styles/depoimentos.css);
@import url(./styles/rodape.css);

:root {
  --fundo: #ffffff;
  --fonte-principal: "Inter", sans-serif;
  --cinza: #667085;
  --cinza-titulo: #3a404e;
  --cinza-borda: #eaecf0;
  --cinza-escuro: #101828;
  --cinza-fundo: #f9fafb;
  --vermelho: #8e2424;

  --gradiente2: rgba(195, 25, 25, 0.03);
  --gradiente: rgba(142, 36, 36, 0.05);
}

body {
  background-color: var(--fundo);
  font-family: var(--fonte-principal);
  font-size: 18px;
  font-weight: 400;
}
