.vagas-abertas {
  padding-top: 4rem;
}

.vagas-abertas span.area-principal {
  display: block;
  max-width: 50%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 500;
  color: var(----cinza-escuro);
}

.vaga {
  border: 1px solid var(--cinza-borda);
  border-radius: 0.5rem;
  padding: 1rem;
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 1rem;
  color: var(----cinza-escuro);
}

.vaga span.titulo-vaga {
  font-weight: 500;
  margin-bottom: 16px;
}

.vaga .informacoes {
  margin-top: 1rem;
  font-size: 90%;
  color: var(--cinza);
  display: flex;
  gap: 2rem;
}
